@use "../utils/_variables.scss";

/* header */

header {
    display: flex;
    place-items: center;
    position: relative;
    background-color: variables.$color-header;
    width: 100%;
    height: 80px;   
    display: grid;
    place-items: center;
    padding-top: 1 * variables.$size;
    border-bottom: 1px solid transparent;
    box-shadow: 0 3px 8px #c6c3c3;
    position: relative;
    z-index: 1000;

    & h1{
      font-size: 2.5rem;
    }
}