@use "../utils/_variables.scss";

/* search */
.search_box {
    background: variables.$color-search;
 
    & input{
        width: 12rem;
        height: 100%;
        background: variables.$color-search;
        padding: 1rem 0.5rem;
        font-size: 1.2rem;
        border: 0;
        font-weight: 700;
        text-align: center;
        margin-left: 0.5rem;
        margin-top: auto;

        &::placeholder {
            color: variables.$list-icon;
        }

        &:active{
            background: variables.$color-search;
        }
    }
}

.fa-location-dot {
    color: variables.$list-icon;
    margin-left: 2rem;
}

