@use "../utils/_variables.scss" as *;
@use "../utils/_keyframes.scss" as anim;

/* loader */
.loader {
    background-color: $color-header;
    position: fixed; 
    inset: 0;
    z-index: 999999;
    opacity: 0.9;
    animation: fade-away 100ms $animation-duration * $animation-count forwards;
    @include anim.fade-away;
    transform-origin: top;
    &::after{
        content:"";
        height: 15 * $size;
        width: 15 * $size;
        border-top: 0.5rem solid $primary-color;
        border-left: 0.5rem solid $secondary-color;
        border-right: 0.5rem solid $tertiary-color;
        //border-bottom: 5px solid transparent;
        border-radius: 50%;
        animation: spin $animation-duration ease-in-out;
        @include anim.spin;
        background-image: url('./images/logo/ohmyfood.png');
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        animation-iteration-count: $animation-count;
    }
}

