@use "../utils/_variables.scss" as *;

/* loader */
.loader {
    height: 100%;
    background-color: $color-header;
    display: grid;
    place-items: center;
    position: fixed; 
    inset: 0;
    z-index: 999999;
    opacity: 0.9;
    animation: fade-away 100ms $animation-duration * $animation-count forwards;
    transform-origin: top;
    &::after{
        content:"";
        height: 120px;
        width: 120px;
        border-top: 5px solid $primary-color;
        border-left: 5px solid $secondary-color;
        border-right: 5px solid $tertiary-color;
        //border-bottom: 5px solid transparent;
        border-radius: 50%;
        animation: spin $animation-duration ease-in-out;
        background-image: url('./images/logo/ohmyfood.png');
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        animation-iteration-count: $animation-count;
    }
}

@keyframes fade-away {
    from{
        transform:scale(1);
    }
    to{
        transform: scale(0);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}