@use "../utils/mixins" as *;
@use "../utils/variables";
@use "../utils/keyframes" as anim;

/* List menu restaurants */


.carte{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        margin: 1rem 1rem;
        
        @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(1, 1fr);
        }
            & .menu__list{
                overflow: hidden;
                @include anim.fade-in;
                animation: fade-in 1200ms 300ms both ease-in-out;
                & h3{
                text-transform: uppercase;
                font-weight: 400;
                }
                & .green-lign{
                width: 3rem;
                border: 2px solid variables.$tertiary-color;
                margin: 0.2rem 0 1rem 0;
                }
                & h3, .green-lign{
                margin-left: 0.5rem;
                }    
                & .card-resto {
                    border-radius: 1rem;
                    margin: 1rem 0.5rem;
                    display: flex;
                    overflow: hidden;
                    
                    background-color: variables.$color-header;
                    @include box-shadow_resto;
    
                    &__description{
                       padding: 0.8rem;
                        @include text-ellipsis;
                        h4, p{
                          @include text-ellipsis;
                        }
                    }
                    &__price{
                        padding: 1rem;
                        font-weight: 900;
                        margin-left: auto;
                        display: flex;
                        align-items: flex-end;
                    }
                    &__check{
                        flex-shrink: 0;
                        border-radius: 0 1rem 1rem 0;
                        margin-right: -3rem;
                        width: 3rem;
                        background-color: variables.$tertiary-color;
                        display: grid;
                        place-items: center;
                        color: variables.$color-header;
                        transition: margin-right 300ms;
                        
                        
                    }
                    &:hover {
                        cursor: pointer;
                        .card-resto__check{
                        margin-right: 0rem;
                        }
                    i{
                        animation: checkspin 300ms ease-in-out;
                        @include anim.checkspin;
                     }
    
            }
                   
        }
     }

}



  


  