@use "../utils/_mixins.scss" as *;
@use "../utils/_variables.scss";

/* Title pages restaurants */
#menu-deroulant{
        border-radius: 2rem 2rem 0 0;
        background-color: variables.$color-section;
        top: -2rem;
        position: relative;
        animation: appear 1s;   
        & h2{
            font-family: variables.$font-title;
            font-size: 2rem;
            @media screen and (max-width: 1024px) {
                font-size: 1.5rem;
            }
            margin-left: 1.5rem;
            &::before{
                @include heart-fa1;
                right: 1.5rem;
                top: 2rem;
            }
            &::after{
                @include heart-fa1;
                @include heart-fa2;
                right: 1.5rem;
                top: 2rem;
            }
            &:hover:after{
                opacity: 1;
                transform: scale(1.3);
            }
        }
    }